.pfp-box {
	background: #FFF;
	margin: 40px 0;
}

.pfp-box-close .pfp-box-body {
	display: none;
}

.pfp-box-head {
	border-bottom: 1px solid #e7e7e7;
	cursor: pointer;
}

.pfp-box-head span {
	font-size: 30px;
	vertical-align: middle;
	height: 1px;
	display: inline-block;
	color: #a7a7a7;
}

.pfp-box-head h2 {
	margin: 0;
}

.pfp-box-head, .pfp-box-body {
	padding: 30px;
}

#pfp-onboarding label {
	margin-top: 40px;
}

#pfp-onboarding img {
	background: #f7f7f7;
	border: 1px solid #e7e7e7;
	padding: 10px;
}

#pfp-installed,
#pfp-error {
	font-size: 40px;
}

#pfp-installed .button,
#pfp-error .button {
	display: table;
	margin-top: 30px;
}

#pfp-error span {
	color: red;
}

#pfp-page-wrap label {
	font-size: 20px;
	display: block;
	margin-bottom: 20px;
}

#pfp-page-wrap select {
	min-width: 280px;
	width: auto;
}

@keyframes pfp-transparize {
	0% {
		color: rgba(0, 0, 0, 0.1);
	}
	50% {
		color: rgba(0, 0, 0, 0.4);
	}
	100% {
		color: rgba(0, 0, 0, 0.1);
	}
}

.pfp-loading {
	position: relative;
	z-index: 5;
}

.pfp-loading:before {
	content: "";
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100%;
	z-index: 10;
}

.pfp-loading:after {
	content: "...";
	font-size: 70px;
	position: absolute;
	top: 0;
	left: 47%;
	z-index: 15;
	animation: pfp-transparize 3s infinite;
}